<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <main>
      <section class="glass">
        <div class="dashboard">
          <div class="user">
            <img src="./images/avatar.png" alt="" />
            <h1>MineVIP</h1>
            <p></p>
          </div>

          
            <meta charset=utf-8> </head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <link rel="stylesheet" href="./style.css" />
            <body>
                <h2>Minecraft Server waitlist</h2>

                <form action="/data/"method = "POST">
        <label for="username">Enter Username:</label><br>
        <input type="text" id="username" name="username"><br><br>
        <input type="submit" value="Sign up for whitelist!">
        </form>
        
          <div class="pro">
            <h2>See you on the server</h2>
            <img src="./images/minecraft.png" alt="" />
          </div>
        </div>
        
        </div>
      </section>
    </main>
    <div class="circle1"></div>
    <div class="circle2"></div>
  </body>
</html>